.testimonials{
    height: 400px;
    background: #eeeeee;
    padding: 25px 28px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.author{
    display: flex;
    gap: 18px;
  
}

.author p{
line-height: 1.68;
font-size: 17px;
}
