/* Estilos para la flecha anterior */
.slick-prev {
  left: -40px; /* Mueve la flecha hacia la izquierda */
  z-index: 1; /* Asegura que la flecha esté por encima de otros elementos */
  background-color: brown; /* Color de fondo */
  border-radius: 50%; /* Forma circular */
  padding: 10px; /* Espaciado interno */
}

/* Estilos para la flecha siguiente */
.slick-next {
  right: -40px; /* Mueve la flecha hacia la derecha */
  z-index: 1;
  background-color: brown;
  border-radius: 50%;
  padding: 10px;
}

/* Cambiar el color de las flechas */
.slick-prev::before, .slick-next::before {
  color: white; /* Cambia el color de la flecha */
  font-size: 20px; /* Tamaño de la flecha */
}
