@tailwind base;
@tailwind components;
@tailwind utilities;
 


:root {
  --blanco: #fcffeb;
  --hueso: #e4d6c9;
  --marron: #927363;
  --verde: #9da664;
  --gris: #3d3d3d;
  
  --negro: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--negro);
  background: var(--blanco);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
