@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:root {
  --blanco: #fcffeb;
  --hueso: #e4d6c9;
  --marron: #927363;
  --marron1: #6b432e;
  --verde: #9da664;
  --gris: #3d3d3d;

  --negro: #171717;
}

body {
  background-image: url('https://res.cloudinary.com/dkobjvdgn/image/upload/v1730075868/PortadaPampa_gfsegd.png');
  background-size: 100% 100%; /* La imagen cubre todo el contenedor */
  background-position: center; /* Centrada en el contenedor */
  background-repeat: no-repeat; /* Repite el patrón */
  color: white;
  position: relative;
  z-index: 0;
}

/* globals.css */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #facc15; /* color del thumb */
  border-radius: 20px; /* hace que el thumb sea redondeado */
}

::-webkit-scrollbar-track {
  background: transparent;
}
